.content {
    margin: 50px;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ebf0ff;
}

.loader {
    width: 100%;
    margin-top: 20px;
}

.table {
    width: 80%;
}

.create-field {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    min-width: 400px;
}

.name-item {
    width: 250px;
}

.button-item {
    width: 100px;
}
