.content {
    margin: 50px;
    min-height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ebf0ff;
}

.loader {
    width: 80%;
    margin-top: 20px;
}

.table {
    width: 80%;
}